<div class="container">

    <ul class="list-group">
        <li class="list-group-item">
            <a href="http://knockoutjs.com/documentation/introduction.html">Официальная документация</a>
        </li>
        <li class="list-group-item">
            <a href="http://blog.scottlogic.com/2014/02/28/developing-large-scale-knockoutjs-applications.html">
                Создание больших приложений с использованием Knockout JS (en)
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://habrahabr.ru/post/164937/">Особенности Knockout JS (ru)</a>
        </li>

       <li class="list-group-item">
            <a href="http://www.knockmeout.net/">Knockout.js Released (en)</a>
        </li>
    </ul>
</div>