<div class="container container-padding">

    <article>
        <h1>Привет!</h1>
        <p>Я был создан, чтобы помоч Вам c комфортом освоить реализацию одностраничных приложений.</p>

        <p>Я одностраничное приложение, так что вы можете использовать меня как живой пример в своих исследованиях.</p>

        <p>Я полностью адаптивный, и вы можете смотреть на меня через экран любого устройства. Правда есть маленькая
            проблема, некоторые старые браузеры, такие как IE7/8, которые ничего не знают о HTML5/CSS3, поэтому не
            удивляйтесь, когда увидите несколько ошибок, когда попытаетесь открыть меня через них.
            Но меня это не слишком волнует (как в принципе, и моего создателя <b>;)</b> )
        </p>

        <b>Используемые frameworks: </b>

        <ul>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
            <li><a href="http://knockoutjs.com/">Knockout JS</a></li>
            <li><a href="http://sammyjs.org/">Sammy JS</a></li>
            <li><a href="http://requirejs.org/">Require JS</a></li>
        </ul>

        <section>
            <h2>Ну что, давайте начнем</h2>

            <p>Наше приложение запускается в <b>/index.html</b> в документе.</p>
            <p>Если вы откроете его, вы увидите следующий код:</p>

            <div class="oms-example">
                <span class="code">&lt;script <b class="red">data-main="scripts/app/app.js"</b> src="scripts/vendor/require.js"&gt;</span>
            </div>

            <p>
                <b class="red">data-main</b> эта директива запускает Require JS. Он будет отвечать за загрузку нашего javascript в приложение.
                В нашем случаи Require JS первым загружает файл <b class="red">/app.js</b>, с которого и начинает работать наше приложение:
            </p>
            <div class="oms-example">
                <p class="code">define(["viewModel"], function(viewModel) {</p>
                <p class="code one-indent"><b class="red">viewModel.launch();</b></p>
                <p class="code">});</p>
            </div>

            <p>
                <b class="red">viewModel.launch()</b> запускает viewModel, который будет обрабатывать главную страницу.
                Если вы откроете <b>index.html</b>, Вы заметите, что есть только футер и хедер, но нет контента.
                Это потому-что Knockout JS берет всю ответственность за него на себя. Контент каждой страницы представлен
                следующим кодом:
            </p>

            <div class="oms-example">
                <p class="code">&lt;div data-bind="<b class="red">template: { name : 'home', templateUrl: 'template' }</b>, visible : showTemplate('home')"&gt;&lt;/div&gt;</p>
                <p class="code">&lt;div data-bind="<b class="red">template: { name : 'routing', templateUrl: 'template' }</b>, visible : showTemplate('routing')"&gt;&lt;/div&gt;</p>
                <p class="code">&lt;div data-bind="<b class="red">template: { name : 'controlling', templateUrl: 'template' }</b>, visible : showTemplate('controlling')"&gt;&lt;/div&gt;</p>
                <p class="code">&lt;div data-bind="<b class="red">template: { name : 'services', templateUrl: 'template' }</b>, visible : showTemplate('services')"&gt;&lt;/div&gt;</p>
                <p class="code">&lt;div data-bind="<b class="red">template: { name : 'docs', templateUrl: 'template' }</b>, visible : showTemplate('docs')"&gt;&lt;/div&gt;</p>
            </div>

            <p><b class="red">template{}</b> указывает, что весь контент будет отображаться в пределах этого тега.</p>
        </section>

        <section>
            <h2>Я полагаю,</h2>
            <p>это приложение не ограничивается только главной страницей, поэтому нам нужен способ для переключения наших views,
                в пределах одной страницы (не забывайте, мы создаем одностраничное приложение)</p>
            <p>Для того, чтобы узнать, как сделать это нажмите на кнопку "Маршрутизация" на моей панели навигации,
                или просто воспользуйтесь <a href="#routing">ссылкой</a></p>
        </section>

        <br>
        <br>
    </article>

</div>