<div class="container container-padding">

    <article>
        <h1>Routes</h1>
        <p>You are still on the same page.</p>
        <p>Yes, the view has changed, you see new text... But there wasn't any server call to get new page, no traffic was
            spent to load it. Javascript (in our case Angular JS) has produced new view itself.</p>

        <section>
            <h2>Let's find out, how does it work</h2>

            <p>First of all you'll want to take a look at buttons, we are using for navigation (<b>see /index.html</b>):</p>

            <div class="oms-example">
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/home</b>"&gt;Getting started&gt;&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/routing</b>"&gt;Routing&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/controlling</b>"&gt;UI Control&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/services</b>"&gt;Services&lt;/a&gt;&lt;/li&gt;</div>
            </div>

            Note the anchor URLs, used in links.

            <p>Then, if you open <b>scripts/app.js</b>, you'll see the routing provider, which manages all the routing,
                including history implementation:</p>

            <div class="oms-example">
                <p>$routeProvider.</p>
                <p class="one-indent">when(<b class="red">"/home"</b>,
                    {templateUrl: <b class="red">"views/home.html"</b>, controller: app.HomeController }).</p>
                <p class="one-indent">when(<b class="red">"/routing"</b>,
                    {templateUrl: <b class="red">"views/route.html"</b>,   controller: app.RouteController}).</p>
                <p class="one-indent">when(<b class="red">"/services"</b>,
                    {templateUrl: <b class="red">"views/service.html"</b>,   controller: app.ServiceController}).</p>
                <p class="one-indent">when(<b class="red">"/controlling"</b>,
                    {templateUrl: <b class="red">"views/controlling.html"</b>,   controller: app.UIController}).</p>
                <p class="one-indent">when(<b class="red">"/docs"</b>,
                    {templateUrl: <b class="red">"views/supplementary/docs.html"</b>,   controller: app.DocsController}).</p>
                <p class="one-indent">otherwise({redirectTo: <b class="red">"/home"</b>});</p>
            </div>

            <p>The mechanism is simple - Angular JS uses pattern matching to find out which template should be put to app body.</p>
            <p>You will also note controllers, which are added to an appropriate template (e.g. home.html has app.HomeController)</p>
        </section>

        <section>
            <h2>Now</h2>
            <p>we know, how to create routing in Single Page Application. Let's find out, how we can implement <a href="#/controlling">interaction</a> </p>
        </section>

    </article>

</div>