<div class="container container-padding">

    <article>
        <h1>Маршрутизация</h1>
        <p>Факт: Вы все еще находитесь на той-же странице</p>
        <p>Безусловно, ее внешний вид страницы изменился, вы видите новый текст... Однако мы не слали никаких запросов к серверу,
            чтобы получить страницу, не тратили траффик, чтобы загрузить ее. Javascript (а точнее - Knockout JS) перерисовал все сам.</p>

        <section>
            <h2>Давайте выяснить, как это работает</h2>

            <p>Прежде всего, давайте посмотрим на кнопки навигации (<b>смотрите /index.html</b>):</p>

            <div class="oms-example">
                <div class="code">&lt;li data-bind="css : { active : 'home' == $root.chosenView() }"&gt;&lt;a
                    href="<b class="red">#home</b>"&gt;К работе&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li data-bind="css : { active : 'routing' == $root.chosenView() }"&gt;&lt;a
                    href="<b class="red">#routing</b>"&gt;Маршрутизация&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li data-bind="css : { active : 'controlling' == $root.chosenView() }"&gt;&lt;a
                    href="<b class="red">#viewModel</b>"&gt;UI&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li data-bind="css : { active : 'services' == $root.chosenView() }"&gt;&lt;a
                    href="<b class="red">#services</b>"&gt;Сервисы&lt;/a&gt;&lt;/li&gt;</div>
            </div>

            Обратите внимание на URL-адреса, используемые в ссылках.

            <p>Если вы откроете <b>scripts/viewModel.js</b>, то увидите конфигурацию Sammy. Sammy JS - это библиотека,
                которая управляет маршрутизацией всего приложения, и включает в себя реализацию обработки истории
                переходов по страницам:</p>

            <div class="oms-example">
                <p>Sammy(function () {</p>
                <p class="one-indent">this.get('<b class="red">#:view'</b>, function () {</p>
                <p class="two-indent">self.view = <b class="red">this.params.view;</b></p>
                <p class="two-indent"><b class="red">self.chosenView(self.view);</b></p>
                <p class="one-indent">});</p>
                <p>}).run('<b class="red">#home</b>');</p>
                <br>
                <p>self.showTemplate = function(name) {</p>
                <p class="one-indent">return <b class="red">self.chosenView() == name;</b></p>
                <p>};</p>
            </div>

            <p>Механизм простой - Sammy JS срабатывает на изменение адреса приложения и вызывает функцию, в которой из
                <b class="red">this.params.view</b> можно получить селектор.</p>
            <p>Этот селектор мы помещаем в <b class="red">self.chosenView</b>, по которому потом определяем, какой шаблон
                отображать (например для #home отображается шаблон home.html)</p>
        </section>

        <div class="oms-example">
            <div class="code">
                &lt;div data-bind="template: { name : 'home', templateUrl: 'template' }, <b class="red">visible : showTemplate('home')</b>"&gt;&lt;/div&gt;
            </div>
        </div>

        <section>
            <h2>Отлично!</h2>
            <p>Теперь мы знаем, как работать с маршрутизацией в одностраничном приложении. А сейчас давайте выясним, как
                работает взаимодействие <a href="#viewModel">viewModel</a> со страницей </p>
        </section>

    </article>

</div>