<div class="container container-padding">
    <article>

        <h1>Http сервисы</h1>

        <p>предоставляют нам возможность отправлять XHR запросы с данными и общаться с сервером приложений = источником данных.
            Давайте посмотрим пример:</p>

        <!---->
        <!---->
        <!--SERVICE EXAMPLE-->
        <!---->
        <!---->

        <div class="oms-example">
            <ul class="list-group" data-bind="foreach : $root.servicesVM.records">
                <li class="list-group-item oms-record" data-bind="text : name, click: $root.servicesVM.showModal">
                    <span></span>
                </li>
            </ul>
        </div>

        <!-- Modal -->

        <div class="modal fade" id="info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal"
                                aria-hidden="true">&times;</button>

                        <h4 class="modal-title" data-bind="text : $root.servicesVM.chosen().name"></h4>
                    </div>
                    <div class="modal-body">
                        <figure class="portrait">

                            <img data-bind="attr: { src: $root.servicesVM.chosen().image }" />
                            <figcaption style="font-size: 80%; font-style: italic;">the photo of <span data-bind="text : $root.servicesVM.chosen().name"></span></figcaption>

                        </figure>
                        <br>

                        <p data-bind="text : $root.servicesVM.chosen().description"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!---->
        <!---->
        <!--SERVICE EXAMPLE-->
        <!---->
        <!---->

        <p>Если вы откроете отладчик, то увидите, что список данных был получен при помощи XHR запроса:</p>
        <div class="xhr-request-img">
            <img src="images/request.png" alt="debugger">
        </div>

        <section>
            <h2>Давайте посмотрим, как это работает.</h2>
            <p>Первое, что хочется отметить, в Knockout JS нет готовой реализации сервисов, и поэтому их нам придется написать самим.</p>

            <p>Для начала нужно описать базовую функциональность сервиса (<b>service/baseService.js</b>):</p>

            <div class="oms-example">
                <div class="code">
                    <p>define([], function() {</p>

                    <p class="one-indent">function <b class="red">BaseService</b>() {</p>
                    <p class="two-indent">var self = this,</p>
                    <p class="two-indent">params = {};</p>

                    <p class="two-indent">self.send = function(url, method, data, success, error, callback) {</p>

                    <p class="three-indent"><b class="red">jQuery.ajax</b>({</p>
                    <p class="four-indent"><b class="red">url: url</b>,</p>
                    <p class="four-indent"><b class="red">method: method</b>,</p>
                    <p class="four-indent"><b class="red">data: data</b></p>
                    <p class="three-indent">}).done(function(s) {</p>
                    <p class="four-indent">if(success) {</p>
                    <p class="five-indent">params = success.parameters;</p>
                    <p class="five-indent">if(s) params.reply = s;</p>
                    <p class="five-indent"><b class="red">success.fn.apply</b>(success.scope, [params]);</p>
                    <p class="four-indent">}</p>
                    <p class="three-indent">}).fail(function(e) {</p>
                    <p class="four-indent">if(error) {</p>
                    <p class="five-indent">params = error.parameters;</p>
                    <p class="five-indent">if(e) params.reply = e;</p>
                    <p class="five-indent"><b class="red">error.fn.apply</b>(error.scope, [params]);</p>
                    <p class="four-indent">}</p>
                    <p class="three-indent">}).always(function(c) {</p>
                    <p class="four-indent">if(callback) {</p>
                    <p class="five-indent">params = callback.parameters;</p>
                    <p class="five-indent">if(c) params.reply = c;</p>
                    <p class="five-indent"><b class="red">callback.fn.apply</b>(callback.scope, [params]);</p>
                    <p class="four-indent">}</p>
                    <p class="three-indent">});</p>
                    <p class="two-indent">};</p>

                    <p class="two-indent">return { send: self.send };</p>
                    <p class="one-indent">};</p>

                    <p class="one-indent">return new BaseService();</p>
                    <p>});</p>
                </div>
            </div>

            <p>Как вы можете заметить, мы просто использовали ajax.</p>
            <p>Теперь давайте посмотрим на то, как мы можем использовать этот базовый сервис:</p>

            <div class="oms-example">
                <div class="code">
                    <p>define([<b class="red">"service/baseService"</b>], function(<b class="red">baseService</b>) {</p>
                    <p class="one-indent">function RecordService(){</p>
                    <p class="two-indent">var self = this;
                    <br>
                    <p class="two-indent"><b class="red">self.list</b> = function(success, error, done) {</p>
                    <p class="three-indent"><b class="red">baseService.send</b>(</p>
                    <p class="four-indent">"data/all.json",</p>
                    <p class="four-indent">"GET",</p>
                    <p class="four-indent">{},</p>
                    <p class="four-indent">success,</p>
                    <p class="four-indent">error,</p>
                    <p class="four-indent">done</p>
                    <p class="three-indent">);</p>
                    <p class="two-indent">};</p>
                    <br>
                    <p class="two-indent"><b class="red">self.get</b> = function(id, success, error, done) {</p>
                    <p class="three-indent"><b class="red">baseService.send</b>(</p>
                    <p class="four-indent">"data/" + id + ".json",</p>
                    <p class="four-indent">"GET",</p>
                    <p class="four-indent">{},</p>
                    <p class="four-indent">success,</p>
                    <p class="four-indent">error,</p>
                    <p class="four-indent">done</p>
                    <p class="three-indent">);</p>
                    <p class="two-indent">};</p>
                    <br>
                    <p class="two-indent">return {</p>
                    <p class="three-indent">list: self.list,</p>
                    <p class="three-indent">get: self.get</p>
                    <p class="two-indent">};</p>
                    <p class="one-indent">}</p>
                    <br>
                    <p class="one-indent">return new RecordService();</p>
                    <p>});</p>
                </div>
            </div>

            <p>Мы реализовали для метода (<b>list</b> и <b>get</b>) для получения данных.</p>

        </section>

        <section>
            <h2>Теперь</h2>
            <p>у нас есть готовый сервис и мы готовы использовать его.</p>
            <p>Не забываем добавить его в параметры:</p>

            <div class="oms-example">
                <div class="code">
                    <p>define([<b class="red">'service/recordService'</b>,</p>
                    <p class="one-indent">'model/record',</p>
                    <p class="one-indent">'model/recordDetails',</p>
                    <p class="one-indent"><b class="red">'util/callback'</b>], function(<b class="red">recordService</b>,
                        Record, RecordDetails, <b class="red">Callback</b>) {</p>
                    <br>
                    <p class="one-indent">function ServicesViewModel() {</p>
                    <p class="two-indent"><b class="red">self.chosen = ko.observable</b>(new RecordDetails());</p>
                    <p class="two-indent"><b class="red">self.records = ko.observableArray</b>([]);</p>
                    <p class="two-indent"><b class="red">recordService.list</b>(</p>
                    <p class="three-indent">new <b class="red">Callback</b>(</p>
                    <p class="four-indent">function(params){</p>
                    <p class="five-indent">var reply = params.reply;</p>
                    <p class="five-indent">for (var i in reply) {</p>
                    <p class="six-indent">this.records().push(new Record(reply[i].id, reply[i].name));</p>
                    <p class="five-indent">}</p>
                    <p class="four-indent">}, <b class="red">self</b>, {}</p>
                    <p class="three-indent">)</p>
                    <p class="two-indent">);</p>
                    <br>
                    <p class="one-indent">self.showModal = function(record) {</p>
                    <p class="two-indent"><b class="red">recordService.get</b>(</p>
                    <p class="three-indent">record.id,</p>
                    <p class="three-indent">new <b class="red">Callback</b>(</p>
                    <p class="four-indent">function(params){</p>
                    <p class="five-indent">var details = params.reply;</p>
                    <p class="five-indent">self.chosen(new RecordDetails(details.name, details.description, details.image));</p>
                    <p class="five-indent">$('#info').modal();</p>
                    <p class="four-indent">}, <b class="red">self</b>, {}</p>
                    <p class="three-indent">)</p>
                    <p class="two-indent">);</p>
                    <p class="one-indent">};</p>
                    <br>
                    <p class="one-indent">};</p>
                    <br>
                    <p class="one-indent">return ServicesViewModel;</p>
                    <p>});</p>
                </div>
            </div>

            <p>Здесь мы использовали наш сервис дважды: первый раз мы вызвали нметод <b class="red">list</b> чтобы получить
                список всех записей, и затем мы использовали метод <b class="red">get</b>, чтобы подучить детали каждой записи</p>
            <p>Для получения результата, мы использовали <b class="red">Callback</b> функцию:</p>

            <div class="oms-example">
                <div class="code">
                    <p>define([], function() {</p>
                    <p class="one-indent">function Callback(fn, scope, parameters){</p>
                    <p class="two-indent">this.fn = fn;</p>
                    <p class="two-indent">this.scope = scope;</p>
                    <p class="two-indent">this.parameters = parameters;</p>
                    <p class="one-indent">};</p>
                    <p class="one-indent">return Callback;</p>
                    <p>});
                </div>
            </div>

            <p>Важным замечанием будет то,
                что в нее мы передали наш <b class="red">self</b>, это нужно для того, чтобы наш Callback выполнялся в пределах
                текущей области видимости.</p>

        </section>

        <section>
            <h2></h2>
            <p>Теперь вы знаете основы, необходимые для начала работы над вашем приложением. В качестве следующего шага
                вы можете ознакомиться с <a href="http://learn.knockoutjs.com/">официальным гидом для начинающих</a>.
                Несмотря на то, что вы встретите много знакомого, есть вещи, которые небыли упомянуты в этой статье</p>
            <p>Вы также можете обратиться к разделу <a href="#docs">Полезные документы</a>, для получения дополнительной информации.</p>
        </section>

    </article>
</div>