<div class="container container-padding">
    <article>
        <h1>Контроллер</h1>
        <p>является ключевым игроком в приложении. Он отвечает за поведение соответствующего представления. Давайте посмотрим на пример:</p>

        <!---->
        <!---->
        <!--CONTROLLER EXAMPLE-->
        <!---->
        <!---->

        <div class="code-example">
            <ul class="list-group">
                <li class="list-group-item oms-record" ng-repeat="record in records" ng-click="editRecord(record)">
                    {{record.name}}
                    <span class="small-font">
                        ({{record.description}})
                    </span>
                </li>
            </ul>
        </div>

        <!---->
        <!---->
        <!--CONTROLLER EXAMPLE-->
        <!---->
        <!---->

        <p>А теперь откроем <b>scripts/controllers/uiController.js</b> файл, и посмотрим на него:</p>

        <div class="code-example">
            <div class="code">
                <p><b class="red">app.UICtrl</b> = function (<b class="red">$scope, $modal</b>) {</p>
                <br>
                <p class="one-indent"><b class="red">$scope.records</b> = [{<b class="grey"> ... </b>}];</p>
                <p class="one-indent"><b class="red">$scope.editRecord</b> = function(record) {</p>
                <p class="three-indent"><b class="red">var temp = {};</b></p>
                <p class="three-indent">temp.name = record.name;</p>
                <p class="three-indent">temp.description = record.description;</p>
                <br>
                <p class="three-indent"><b class="red">var modalInstance = $modal.open</b>({</p>
                <p class="four-indent">templateUrl: 'views/dialogs/editRecord.html',</p>
                <p class="four-indent">controller: app.editRecordDialogCtrl,</p>
                <p class="four-indent">resolve: { record : function() { return temp; } }</p>
                <p class="three-indent"> });</p>
                <br>
                <p class="three-indent"><b class="red">modalInstance.result.then(function (result) {</b></p>
                <p class="four-indent">if (result) {</p>
                <p class="five-indent"><b class="red">record.name = result.name;</b></p>
                <p class="five-indent"><b class="red">record.description = result.description;</b></p>
                <p class="four-indent">}</p>
                <p class="three-indent">}, function() {});</p>
                <p class="one-indent">};</p>
                <p>};</p>
            </div>
        </div>

        <p>Все данные, используемые в <b>/views/controlling.html</b> шаблоне, прикреплены к объекту контекста <b class="red">($scope)</b>
            который была инжектирован в функцию контроллера.</p>

        <p>Подсказка: чтобы использовать некоторые, доступные из коробки, возможности Angular JS достаточно просто указать
            имя нужного инструмента в аргументах функции-контроллера, например:</p>

        <div class="code-example">
            <span class="code">
                app.UICtrl = function (<b class="red">$scope, $http</b>) { <b class="grey">...</b> }
            </span>
        </div>

        <p class="bold-font">Обратите внимание на названия аргументов! Им должно совпадать с одноименной функцией Angular JS.
            Это важно, потому-что инжектор ищет зависимости по имени аргумента.</p>

        <p>Область видимости(scope) контроллера - это прототипный наследник корневой области видимости(root scope), который
            создаётся при запуске приложения. Этот скоуп контроллера привязан к нашему шаблону.</p>

        <p>Если Вы не хотите, чтобы ваши данные были доступны шаблону, то вы просто объявите их как локальные переменные
            (например <b class="red">var edited;</b>)</p>

        <h2>Связь данных с шаблоном</h2>
        <p>Для связи данных с шаблоном используются директивы (например <b class="red">ng-repeat</b>) с соответствующими
            свойствами из области видимости <b class="red">$scope</b> (например <b class="red">records</b>) которые достаточно
            просто прописать в тэге:</p>

        <div class="code-example">
            <div class="code">&lt;li <b class="red">ng-repeat="record in records" ng-click="editRecord(record)"</b>&gt;</div>
            <div class="code one-indent">{{<b class="red">record.name</b>}}</div>
            <div class="code one-indent">&lt;span class="small-font"&gt;</div>
            <div class="code two-indent">({{<b class="red">record.description</b>}})</div>
            <div class="code one-indent">&lt;/span&gt;</div>
            <div class="code">&lt;/li&gt;</div>
        </div>

        <p>Этот пример отображает коллекцию записей из $scope (смотрим сюда <b>/controllers/uiController.js >
            <span class="red">$scope.records</span>).</b></p>

        <p>Каждый элемент списка является реактивным: нажатие на него вызывает метод <b class="red">$scope.editRecord</b>,
            в который будет передана соответствующая запись в качестве аргумента.</p>

        <p>Функция <b class="red">editRecord</b> копирует текущую запись, затем открывает диалоговое окно,
            передавая в него копию записи. Для открытия диалогового окна используется функция <b class="red">$modal.open</b>
            в которую необходимо передать шаблон диалогового окна (<b>views/dialogs/editRecord.html</b>) и контроллер,
            отвечающий за обработку шаблона (<b>app.editRecordDialogCtrl</b>):
        </p>

        <div class="code-example">
            <div class="code">
                <p>$scope.editRecord = function(record) {</p>
                <p class="one-indent">var temp = {};</p>
                <p class="one-indent">temp.name = record.name;</p>
                <p class="one-indent">temp.description = record.description;</p>
                <br>
                <p class="one-indent">var modalInstance = $modal.open({</p>
                <p class="two-indent">templateUrl: <b class="red">'views/dialogs/editRecord.html'</b>,</p>
                <p class="two-indent">controller: <b class="red">app.editRecordDialogCtrl</b>,</p>
                <p class="two-indent">resolve: { record : function() { <b class="red">return temp;</b> } }</p>
                <p class="one-indent">});</p>
                <p class="one-indent">...</p>
                <p>};</p>
            </div>
        </div>

        <h2>Диалоговое окно</h2>
        <p>Во время открытия диалогового окна, в его контроллеру передается запись <b class="red">record</b>, которая помещается
            в область видимости диалогового окна (<b class="red">$scope.record = record</b>). После редактирования записи
            вызывается функция закрытия диалога, в которую можно передать измененную запись (<b class="red">$modalInstance.close($scope.record)</b>),
            чтобы получить измененное значение в родительском контроллере</p>

        <div class="code-example">
            <div class="code">
                <p>app.editRecordDialogCtrl = function ($scope, $modalInstance, <b class="red">record</b>) {</p>
                <p class="one-indent"><b class="red">$scope.record = record;</b></p>
                <br>
                <p class="one-indent">$scope.save = function () {</p>
                <p class="two-indent"><b class="red">$modalInstance.close($scope.record);</b></p>
                <p class="one-indent">};</p>
                <br>
                <p class="one-indent">$scope.close = function () {</p>
                <p class="two-indent"><b class="red">$modalInstance.close();</b></p>
                <p class="one-indent">};</p>
                <p>};</p>
            </div>
        </div>

        <h2>После редактирования записи</h2>
        <p>сохранив ее вы увидите, что список записей тоже изменился.</p>
        <p>Давайте посмотрим, как мы это сделали:</p>

        <div class="code-example">
            <div class="code">
                <p>$scope.editRecord = function(<b class="red">record</b>) {</p>
                <p class="one-indent">...</p>
                <p class="one-indent">modalInstance.result.then(function (result) {</p>
                <p class="two-indent">if (result) {</p>
                <p class="three-indent"><b class="red">record.name = result.name;</b></p>
                <p class="three-indent"><b class="red">record.description = result.description;</b></p>
                <p class="two-indent">}</p>
                <p class="one-indent"> }, function() {});</p>
                <p>};</p>
            </div>
        </div>

        <p>Мы просто должны установить новое значения в редактируемую запись. Мы не меняли html шаблон!
            Angular сделал это за нас. Эта функциональность называется &quot;Data-binding&quot;</p>
        <p>Когда страница загружается, Angular связывает разметку с ее объектным представлением в контроллере.
            Это означает, что вы можете редактировать HTML-код, и он автоматически изменит Ваш JavaScript
            объект и наоборот.</p>

        <h2>И последнее,</h2>
        <p>Я бы хотел обратить внимание на модульность</p>
        <p>Мы объявляем контроллер следующим образом:</p>

        <div class="code-example">
            <div class="code">
                <b class="red">app.</b>UICtrl = function ($scope, $modal) { <b class="grey">...</b> }
            </div>
        </div>

        <p>Существует более простой способ:</p>

        <div class="code-example">
            <div class="code">
                function UIController ($scope) { <b class="grey">...</b> }
            </div>
        </div>

        <p>Но в данном случае функция будет добавлена в глобальную область видимости
            (в частности в объект <b class="red">window</b>). На самом деле это не очень критично,
            но засорять глобальную область видимости - это плохая практика.</p>

        <p>Чтобы избежать этого, мы просто создаем объект <b class="red">app</b> (смотрите <b>scripts/app.js</b>),
            в который помещаем все наши модули.</p>

        <h2>До сих пор</h2>
        <p>Мы использовали жестко прописанные данные, которые не очень полезны в реальных проектах, поэтому следующим
            шагом будет изучение <a href="#/services">сервисов</a></p>

    </article>
</div>