<div class="container container-padding">

    <article>
        <h1>Привет!</h1>
        <p>Я был создан, чтобы помоч Вам c комфортом освоить реализацию одностраничных приложений.</p>

        <p>Я одностраничное приложение, так что вы можете использовать меня как живой пример в своих исследованиях.</p>

        <p>Я полностью адаптивный, и вы можете смотреть на меня через экран любого устройства. Правда есть маленькая
            проблема, некоторые старые браузеры, такие как IE7/8, которые ничего не знают о HTML5/CSS3, поэтому не
            удевляйтесь, когда увидете несколько ошибок, когда попытаетесь открыть меня через них.
            Но меня это не слишком волнует (как в принципе, и моего создателя <b>;)</b> )
        </p>

        <b>Используемые frameworks: </b>

        <ul>
            <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
            <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
            <li><a href="http://angularjs.org/" target="_blank">Angular JS</a></li>
        </ul>

        <section>
            <h2>Ну что, давайте начнем</h2>

            <p>Наше приложение запускается в <b>/index.html</b> в документе.</p>
            <p>Если вы откроете его, вы увидите следующий код:</p>

            <div class="code-example">
                <span class="code">&lt;html lang="en" <b class="red">ng-app="angular-example"</b>&gt;</span>
            </div>

            <p><b class="red">ng-app</b> это директива запускает Angular JS. В нашем случае Angular JS будет активен в
                пределах всей страницы, хотя мы можем указать эту дерективу и к части страницы</p>
            <p><b class="red">angular-example</b> это просто название нашего модуля, который будет активирован. Вы можете
                найти его, если откроете <b>/app.js</b> файл:</p>
            <div class="code-example">
                <span class="code">angular.module(<b class="red">'angular-example'</b>, [])</span>
            </div>

            <p>Если вы посмотрите в <b>/index.html</b> Вы заметите, что есть только футер и хедер, но нет содержания.</p>
            <p>Это потому-что Angular JS берет всю ответственность за него на себя. Весь контент приложения представлен всего одним тегом:</p>

            <div class="code-example">
                <span class="code">&lt;div <b class="red">ng-view</b>&gt;&lt;/div&gt;</span>
            </div>

            <p><b class="red">ng-view</b> говорит нашему модулю, что весь контент будет отображатся в пределах этого тега.</p>
        </section>

        <section>
            <h2>Я полагаю,</h2>
            <p>это приложение не ограничевается только главной страницой, поэтому нам нужен способ для переключения наших views,
                в пределах одной страницы (не забывайте, мы создаем одностраничное приложение)</p>
            <p>Для того, чтобы узнать, как сделать это нажмитк на кнопку "Маршрутизация" на моей панели навигации,
                или просто воспользуйтесь <a href="#/routing">ссылкой</a></p>
        </section>

        <br>
        <br>
    </article>

</div>