<div class="container container-padding">

    <article>
        <h1>Привет!</h1>
        <p>Я был создан для того, чтобы помочь Вам c комфортом освоить реализацию одностраничных приложений.</p>

        <p>Я одностраничное приложение, так что вы можете использовать меня как живой пример в своих исследованиях.</p>

        <p>Я полностью адаптивный, и доступен к просмотру через экран любого устройства. Правда есть маленькая
            проблема, существуют некоторые старые браузеры, такие как IE7/8, которые ничего не знают о HTML5/CSS3, поэтому не
            удивляйтесь, если столкнетесь с ошибками, когда попытаетесь открыть меня через них.
            Правда, меня это не слишком волнует (как в принципе, и моего автора <b>;)</b> )
        </p>

        <b>Используемые frameworks: </b>

        <ul>
            <li><a href="http://angularjs.org/" target="_blank">Angular JS</a></li>
            <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
            <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
        </ul>

        <section>
            <h2>Ну что, давайте начнем</h2>

            <p>Наше приложение запускается в <b>/index.html</b> в документе.</p>
            <p>Если вы откроете его, вы увидите следующий код:</p>

            <div class="code-example">
                <span class="code">&lt;html lang="en" <b class="red">ng-app="angular-example"</b>&gt;</span>
            </div>

            <p><b class="red">ng-app</b> это директива, которая запускает Angular JS. В нашем случае Angular JS будет активен в
                пределах всей страницы, хотя мы можем указать эту директиву и к части страницы</p>
            <p><b class="red">angular-example</b> это просто название нашего модуля, который будет активирован. Вы можете
                найти его, если откроете <b>/app.js</b> файл:</p>
            <div class="code-example">
                <span class="code">angular.module(<b class="red">'angular-example'</b>, [])</span>
            </div>

            <p>Если вы посмотрите в <b>/index.html</b> Вы заметите, что есть только footer и header, но нет контента.</p>
            <p>Это потому-что Angular JS берет всю ответственность за его отрисовку на себя. Весь контент приложения представлен всего одним тегом:</p>

            <div class="code-example">
                <span class="code">&lt;div <b class="red">ng-view</b>&gt;&lt;/div&gt;</span>
            </div>

            <p><b class="red">ng-view</b> говорит нашему модулю, что весь контент будет отображаться в пределах этого тега.</p>
        </section>

        <section>
            <h2>Очевидно,</h2>
            <p>что это приложение не ограничивается только главной страницей, поэтому нам нужен способ для переключения
                между нашими views, в пределах одной страницы (не забывайте, что мы создаем одностраничное приложение)</p>
            <p>Для того, чтобы узнать, как это сделать это нажмите на кнопку "Маршрутизация" на моей панели навигации,
                или просто воспользуйтесь <a href="#/routing">ссылкой</a></p>
        </section>

        <br>
        <br>
    </article>

</div>