<div class="container container-padding">

    <article>
        <h1>Маршрутизация</h1>
        <p>Факт: Вы все еще находитесь на той-же странице</p>
        <p>Безусловно, ее внешний вид страницы изменился, вы видите новый текст... Однако мы не слали никаких запросов к
            серверу, чтобы получить страницу, не тратили траффик, чтобы загрузить ее. Javascript (ф точнее - Angular JS)
            перерисовал все сам.</p>

        <section>
            <h2>Давайте выяснить, как это работает</h2>

            <p>Прежде всего, давайте посмотрим на кнопки навигации (<b>смотрите /index.html</b>):</p>

            <div class="code-example">
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/home</b>"&gt;К работе&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/routing</b>"&gt;Маршрутизация&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/controlling</b>"&gt;UI&lt;/a&gt;&lt;/li&gt;</div>
                <div class="code">&lt;li active-link="active"&gt;&lt;a href="<b class="red">#/services</b>"&gt;Сервисы&lt;/a&gt;&lt;/li&gt;</div>
            </div>

            Обратите внимание на URL-адреса, используемые в ссылках.

            <p>Если открыть <b>scripts/app.js</b>, вы увидите routing provider, который управляет маршрутизацией всего
                приложения, и включает в себя реализацию обработки истории переходов по страницам:</p>

            <div class="code-example">
                <p>$routeProvider.</p>
                <p class="one-indent">when(<b class="red">"/home"</b>,
                    {templateUrl: <b class="red">"views/home.html"</b>, controller: app.HomeCtrl}).</p>
                <p class="one-indent">when(<b class="red">"/routing"</b>,
                    {templateUrl: <b class="red">"views/route.html"</b>, controller: app.RouteCtrl}).</p>
                <p class="one-indent">when(<b class="red">"/services"</b>,
                    {templateUrl: <b class="red">"views/service.html"</b>, controller: app.ServiceCtrl}).</p>
                <p class="one-indent">when(<b class="red">"/controlling"</b>,
                    {templateUrl: <b class="red">"views/controlling.html"</b>, controller: app.UICtrl}).</p>
                <p class="one-indent">when(<b class="red">"/docs"</b>,
                    {templateUrl: <b class="red">"views/supplementary/docs.html"</b>, controller: app.DocsCtrl}).</p>
                <p class="one-indent">otherwise({redirectTo: <b class="red">"/home"</b>});</p>
            </div>

            <p>Механизм простой - Angular JS использует сопоставление с образцом, чтобы определить, какой шаблон должен быть подставлен в приложение.</p>
            <p>Обратите внимание, что каждой View соответствует контроллер (например home.html обрабатывается app.HomeCtrl)</p>
        </section>

        <section>
            <h2>Отлично!</h2>
            <p>Теперь мы знаем, как работать с маршрутизацией в одностраничном приложении. А сейчас давайте выясним, как
                работает взаимодействие <a href="#/controlling">контроллера</a> со страницей </p>
        </section>

    </article>

</div>