<div class="container container-padding">
    <article>

        <h1>Полезные документы</h1>

        <p>предоставляют нам возможность отправлять XHR запросы с данными и общаться с сервером приложений = источником данных.
            Давайте посмотрим пример:</p>

        <!---->
        <!---->
        <!--SERVICE EXAMPLE-->
        <!---->
        <!---->

        <div class="code-example">
            <ul class="list-group">
                <li class="list-group-item oms-record" ng-repeat="record in records" ng-click="showRecord(record.id)">
                    {{record.name}}
                </li>
            </ul>
        </div>

        <!---->
        <!---->
        <!--SERVICE EXAMPLE-->
        <!---->
        <!---->
        
        <p>Если вы откроете отладчик, то увидите, что список данных был получен при помощи XHR запроса:</p>
        <div class="xhr-request-img">
            <img src="images/request.png" alt="debugger">
        </div>

        <section>
            <h2>Давайте посмотрим, как это работает.</h2>
            <p>В первую очередь мы должны добавить angular-resource.js файл для нашего приложения</p>

            <p>Наш сервис определен в <b>scripts/services/recordServices.js</b>:</p>

            <div class="code-example">
                <div class="code">
                    <p>angular.module(<b class="red">"recordServices"</b>, [<b class="red">&quot;ngResource&quot;</b>]).</p>
                    <p class="one-indent">factory(&quot;Record&quot;, function($resource) {</p>
                    <p class="three-indent">return $resource(<b class="red">&quot;data/:id.json&quot;</b>, {}, {</p>
                    <p class="five-indent">
                        <b class="red">
                            getAll: {method: &quot;GET&quot;, params: {id: &quot;all&quot;}, isArray: true}
                        </b>
                    </p>
                    <p class="one-indent">});</p>
                    <p>});</p>
                </div>
            </div>

            <p>Обратите внимание, что используется модуль API для регистрации пользовательского сервиса. Для этого мы
                передали имя сервиса - <b class="red">&quot;Record&quot;</b> - в функцию фабрику.</p>
            <p><b class="red">Record</b>-сервис зависит от $resource сервиса.</p>
            <p>Мы также определили метод <b class="red">getAll</b>, который вернет нам все записи.</p>
            <p>Так же существует ряд стандартных методов, которые доступны по умолчанию:</p>

            <div class="code-example">
                <div class="code">
                    <p>{</p>
                    <p class="one-indent">&quot;get&quot;:    {method:&quot;GET&quot;},</p>
                    <p class="one-indent">&quot;save&quot;:   {method:&quot;POST&quot;},</p>
                    <p class="one-indent">&quot;query&quot;:  {method:&quot;GET&quot;, isArray:true},</p>
                    <p class="one-indent">&quot;remove&quot;: {method:&quot;DELETE&quot;},</p>
                    <p class="one-indent">&quot;delete&quot;: {method:&quot;DELETE&quot;}</p>
                    <p>};</p>
                </div>
            </div>

        </section>

        <section>
            <h2>Теперь</h2>
            <p>у нас есть готовый сервис, и мы готовы использовать его.</p>
            <p>Не забудьте объявить наш сервис-модуль в приложении (смотрите <b>/scripts/app.js</b>):</p>

            <div class="code-example">
                <div class="code">angular.module(&quot;angular-example&quot;, [<b class="red">&quot;recordServices&quot;</b>])</div>
            </div>

            <p>Теперь вам достаточно просто указать имя сервиса в параметрах контроллера, и Angular заинжектит его для вас:</p>

            <div class="code-example">
                <div class="code">
                    <p>app.ServiceCtrl = function ($scope, <b class="red">Record</b>, $modal) {</p>
                    <br>
                    <p class="one-indent">$scope.records = <b class="red">Record.getAll();</b></p>
                    <br>
                    <p class="one-indent">$scope.showRecord = function (id) {</p>
                    <p class="three-indent"><b class="red">Record.get({id: id}, function(result) {</b></p>
                    <p class="five-indent">$scope.chosen = result;</p>
                    <p class="five-indent">...</p>
                    <p class="three-indent">});</p>
                    <p class="one-indent">};</p>
                    <p>};</p>
                </div>
            </div>

            <p>Здесь мы использовали наш сервис дважды: первый раз мы вызвали нами определенный метод <b class="red">getAll</b>
                чтобы получить список всех записей, и затем мы использовали метод по умолчанию <b class="red">get</b>,
                чтобы подучить детали каждой записи.</p>

        </section>

        <section>
            <h2></h2>
            <p>Теперь вы знаете основы, необходимые для начала работы над вашем приложением. В качестве следующего шага
                вы можете ознакомиться с <a href="http://docs.angularjs.org/tutorial">официальным гидом для начинающих</a>.
                Несмотря на то, что вы встретите много знакомого, есть вещи, которые небыли упомянуты в этой статье</p>
            <p>Вы также можете обратиться к разделу <a href="#/docs">Полезные документы</a>, для получения дополнительной информации.</p>
        </section>

    </article>
</div>