<div class="container">

    <ul class="list-group">
        <li class="list-group-item">
            <a href="http://angular.ru/">Official russian documentation</a>
        </li>
        <li class="list-group-item">
            <a href="http://habrahabr.ru/post/182556/">Creating big applications, using Angular (ru)</a>
        </li>

        <li class="list-group-item">
            <a href="http://habrahabr.ru/post/181882/">Best practices (ru)</a>
        </li>

        <li class="list-group-item">
            <a href="http://blog.artlogic.com/2013/05/02/ive-been-doing-it-wrong-part-1-of-3/">Best practices (en)</a>
        </li>

        <li class="list-group-item">
            <a href="http://trochette.github.io/Angular-Design-Patterns-Best-Practices/#/intro">Best practices (en)</a>
        </li>
    </ul>
</div>