<div class="container">

    <h1>Полезные документы</h1>
    <br>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="http://angular.ru/">Официальная документация</a>
        </li>
        <li class="list-group-item">
            <a href="http://habrahabr.ru/post/182556/">Создание больших приложений с использованием Angular JS (ru)</a>
        </li>

        <li class="list-group-item">
            <a href="http://habrahabr.ru/post/181882/">Лучшие практики (ru)</a>
        </li>

        <li class="list-group-item">
            <a href="http://blog.artlogic.com/2013/05/02/ive-been-doing-it-wrong-part-1-of-3/">Лучшие практики (en)</a>
        </li>

        <li class="list-group-item">
            <a href="http://trochette.github.io/Angular-Design-Patterns-Best-Practices/#/intro">Лучшие практики (en)</a>
        </li>
    </ul>
</div>